Package: GjTris
Version: 0.9.3
Section: main
Architecture: all
Maintainer: Giovanni Capuano <webmaster@giovannicapuano.net>
Homepage: <http://www.giovannicapuano.net>
Description: Un semplice clone del Tris (tic-tac-toe).
