[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=GjTris
Comment=Un semplice clone del Tris (tic-tac-toe).
Categories=GNOME;Game;
Exec=/usr/local/bin/GjTris
Icon=/usr/share/gjtris/icon.png
